@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
   margin : 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.material-icons{
    color: rgb(96, 96, 96);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.left-header{
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo{
    width: 100px;
}

#profile{
   width: 39px;
   margin-bottom: 5px;
}


.header span,img{
    padding: 0px 7px;
    width: 39px;
    cursor: pointer;
}

.search-bar form{
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}

.search-bar input{
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}

.search-bar button{
    padding: 0;
    margin: 0;
    height: 100%;
    border-radius: 0;
    border: none;
}

.material-icons-outlined{
    color: rgb(96, 96, 96);
    cursor: pointer;
}

.main{
    height: calc(100vh - 100px);
    display: flex;
    overflow: hidden;
}

.sidebar{
    height: 100%;
    width: 230px ;
    background-color: white;
    overflow-y: scroll;
}

.sidebar-categories{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.category{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.category span{
    margin-left: 15px;
}

.category:hover{
    background: #e5e5e5;
    cursor: pointer
}

hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

/* videos container video thumbnail details author title */

.videos{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video{
    width: 240px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.thumbnail{
    width: 100%;
    height: 170px;
}

.thumbnail img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.author img{
    object-fit: cover;
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
}

.details{
    display: flex;
    margin-top: 10px;
}

.title{
    display: flex;
    flex-direction: column;
}

.title h3{
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

.title a, span{
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
}

